.red{
    background-color: rgb(238, 55, 55);
    height:33vh;
    margin:2vw;
}
.blue>div{
    
    height:33vh;
    margin:2vw;
    background-color: rgb(17, 134, 230);
}
.yellow{
    max-height: 33vh;;
    
}
@media only screen and (min-width: 320px) and (max-width:767px) {
    .yellow>div{
        height:12vh;
        margin:2vw;
        background-color: rgb(196, 248, 8);
    }
    .blue>div{
        height:15vh;
        margin:2vw;
    }
  }
  @media only screen and (min-width:768px) and (max-width:1023px){
    .yellow{
        display:flex;
        height:33vh;
        
        flex-direction: row;
    }
    .yellow>div{
        background-color: rgb(196, 248, 8);
        margin:2vw;
        width:50%;
    }
  }
  @media only screen and (min-width:1024px){
    .yellow{
        display:flex;
        height:33vh;
        
        flex-direction: row;
    }
    .yellow>div{
        background-color: rgb(196, 248, 8);
        margin:2vw;
        width:50%;
    }
    .blue{
        display:flex;
        flex-direction: row;
        
    }
    .blue>div{
        background-color: rgb(17, 134, 230);
        width:33%;
    }
  }
